<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <table>
            <tr>  
                <td>姓名</td>
                <td>所在学院</td>
            </tr>
        {volist name="data" id="vo"}
            <tr>
                <td>{$vo.username}</td>
                <td>{$vo.faculty_name}</td>
            </tr>
        {/volist} 
    </table>


<!-- <form action="">
    <input type="text"  >
    <br>
    <input type="password" >
    <br>
    <input type="radio" name="sex" checked="checked">
    <input type="radio" name="sex">
    <br>
    
    <select name="habit" id="">
        <option value="1" selected="selected">足球</option>
        <option value="2">篮球</option>

    </select>
    <input type="submit">
</form> -->
</body>
</html>